In [12]:
import requests
import pandas as pd

In [38]:
res = requests.get(f'https://fantasy.premierleague.com/api/entry/2209432/history/')
data = res.json()
chip_history = data['chips']
# current_season_history = data['current']



df = pd.DataFrame(data=current_season_history)
rank = df[["event", "value"]]
# rank.set_index("event", inplace=True)

# df = pd.DataFrame(data=chip_history)
# chip = df[['name', 'event']]
# chip.set_index("event", inplace=True)

# chip['event']

# x = df[["rank"]] / 1000
# x.plot()

# rank['overall_rank'].max()

rank.loc[:, "value"] = rank["value"].div(10)



rank

    event  value
0       1  100.0
1       2  100.1
2       3  100.5
3       4  100.9
4       5  100.9
5       6  101.0
6       7  101.0
7       8  100.9
8       9  100.7
9      10  100.8
10     11  100.6
11     12  100.6
12     13  100.9
13     14  101.5
14     15  101.2
15     16  101.1
16     17  100.9
17     18  101.1
18     19  101.2
19     20  101.4
20     21  101.6
21     22  101.6
22     23  101.7
23     24  101.8
24     25  101.0
25     26  100.5
26     27  101.0
27     28  101.1
28     29  101.7
29     30  101.6
30     31  101.8
31     32  101.7
32     33  101.5
33     34  101.6
34     35  101.5
35     36  101.4
36     37  101.3
37     38  101.1